body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    height: calc(100vh - 100px); /* Adjust for navbar and footer height */
  }
  
  .red-div {
    background-color: red;
    flex: 1;
  }
  
  .green-div {
    background-color: green;
    flex: 1;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase; /* Make text uppercase */
  }
  